<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.rtl.min.css" integrity="sha384-gXt9imSW0VcJVHezoNQsP+TNrjYXoGcrqBZJpry9zJt8PCQjobwmhMGaDHTASo9N" crossorigin="anonymous">
    <link rel="stylesheet" href="~/site/css/font-awesome.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/site/css/style.css" asp-append-version="true" />
</head>
<body class="bg-white">

    <header class="main-header">
        <div class="container-fluid">
            <div class="col-md-10">
                <div class="main-menu">
                    <ul>
                        <li><a href="/">خانه</a></li>
                        <li><a href="/newses">اتاق خبر</a></li>
                        <li><a href="#">اقتصادی</a></li>
                        <li><a href="#">انجمن</a></li>
                        <li><a href="#">گروه رسانه ای</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
