@page "/"
<PageTitle>News24 </PageTitle>
@inject IJSRuntime JsRuntime

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">           
            <Images />
        </div>
        <div class="col-md-6">
            <MainSlider />
        </div>
        <div class="col-md-3">
            <Notes />
        </div>
    </div>
</div>
<div class="clear-fix"></div>
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="r-sidebar">
                    <SpecialPosts />
                    <AdsBox /> 
                </div>
            </div>
            <div class="col-md-6">
                <div class="content-wrapper">
                    <MostViews />
                    <SpecialBox />
                </div>
            </div>
            <div class="col-md-3">
                <Report />
                <CategoryOfContent />
            </div>
        </div>
    </div>
    <div class="clear-fix"></div>
    <LatestNews />
</div>


@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JsRuntime.InvokeVoidAsync("OnDocumentInit");
    }
}