@using News24.Common
@using News24.Business.Repository.IRepository
@using News24.DTOs.Newses
@using News24.Web.Service.FileUploadService
@inject INewsRepository NewsRepository
@inject IJSRuntime JsRuntime
@inject IFileUploadService FileUploadService
@attribute [Authorize(Roles = StaticDetail.Role_Admin)]
@inject IJSRuntime JSRuntime

@page "/admin"
@layout AdminLayout
<PageTitle> پنل مدیریت</PageTitle>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="add-news-btn">
                <NavLink href="admin/add-news" class="btn btn-info form-control">
                    ثبت خبر جدید
                </NavLink>

            </div>
            <div class="post_content">
                <table class="table table-bordered table-hover" id="table">
                    <thead>
                        <tr>
                            <td>عنوان</td>
                            <td>تاریخ ثبت</td>
                            <td>توضیحات کوتاه</td>
                            <td>دستورات</td>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Newses.Any())
                        {
                            foreach (var news in Newses)
                            {
                                <tr>
                                    <td>
                                        @news.Title
                                    </td>
                                    <td>
                                        @news.CreateDate.ToShamsiWithTime()
                                    </td>
                                    <td>
                                        @news.ShortDescription
                                    </td>
                                    <td>
                                        <NavLink href="@($"/admin/edit-news/{news.NewsId}")" class="btn btn-warning btn-block">ویرایش</NavLink>
                                        <br />
                                        <button class="btn btn-danger btn-block" @onclick="() => HandleDelete(news.NewsId)">حذف خبر</button>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="4">هیچ خبری یافت نشد</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<DeleteConfirmation IsParentComponentProcessing="IsProcessing" ConfirmationChanged="ConfirmDeleteClick"></DeleteConfirmation>

@code {
    private IEnumerable<NewsDTO> Newses { get; set; } = new List<NewsDTO>();

    private int? DeleteNewsId { get; set; } = null;

    public bool IsProcessing { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        Newses = await NewsRepository.GetAllNewses();
    }

    private string ConfirmMessage = "test confirm message";

    private bool IsConfirm { get; set; }

    private async Task HandleDelete(int newsId)
    {
        DeleteNewsId = newsId;
        await JsRuntime.InvokeVoidAsync("showConfirmationModal");
    }

    public async Task ConfirmDeleteClick(bool isConfirmed)
    {
        IsProcessing = true;
        if (isConfirmed && DeleteNewsId != null)
        {
            var news = await NewsRepository.GetNewsById(DeleteNewsId.Value);
            await NewsRepository.RemoveNews(news);
            FileUploadService.DeleteFile(news.ImageName);
            await JsRuntime.ToastrSuccess("خبر مورد نظر با موفقیت حذف شد");
            Newses = await NewsRepository.GetAllNewses();
        }

        await JsRuntime.InvokeVoidAsync("hideConfirmationModal");
        IsProcessing = false;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JSRuntime.InvokeVoidAsync("DataTables");
    }
}
