<div class="top-sidebar-r">
    <span class="title">عکس</span>
    <a href="#">
        <div class="bx">
            <div class="col-md-6">
                <div class="img-box">
                    <figure>
                        <img src="/site/img/696112501123546.jpg" alt="">
                        <figcaption><span>1</span></figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-md-6">
                <div class="meta">
                    <h5>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                        گرافیک است. چاپگرها و...
                    </h5>
                    <span><i class="fa fa-clock-o"></i> 99/3/20</span>
                    <div class="text-left">
                        <sub><i class="fa fa-comment"></i> 26</sub>
                    </div>
                </div>
            </div>
        </div>
    </a>
    <a href="#">
        <div class="bx">
            <div class="col-md-6">
                <div class="img-box">
                    <figure>
                        <img src="/site/img/1733753707Capture.png" alt="">
                        <figcaption><span>2</span></figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="meta">
                    <h5>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                        گرافیک است. چاپگرها و... متن ارسال شده
                    </h5>
                    <span><i class="fa fa-clock-o"></i> 99/3/20</span>
                    <div class="text-left">
                        <sub><i class="fa fa-comment"></i> 26</sub>
                    </div>
                </div>
            </div>
        </div>
    </a>
    <a href="#">
        <div class="bx">
            <div class="col-md-6">
                <div class="img-box">
                    <figure>
                        <img src="/site/img/290667058azer news.jpg" alt="">
                        <figcaption><span>3</span></figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="meta">
                    <h5>
                        عنوان برایلورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده
                        از طراحان گرافیک است. چاپگرها و... شده
                    </h5>
                    <span><i class="fa fa-clock-o"></i> 99/3/20</span>
                    <div class="text-left">
                        <sub><i class="fa fa-comment"></i> 26</sub>
                    </div>
                </div>
            </div>
        </div>
    </a>
    <a href="#">
        <div class="bx">
            <div class="col-md-6">
                <div class="img-box">
                    <figure>
                        <img src="/site/img/parsitarh-1038x515.png" alt="">
                        <figcaption><span>4</span></figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="meta">
                    <h5>
                        عنوان برای متن ارسال شده
                    </h5>
                    <span><i class="fa fa-clock-o"></i> 99/3/20</span>
                    <div class="text-left">
                        <sub><i class="fa fa-comment"></i> 246</sub>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>