@using News24.Business.DTOs.Newses
@using News24.Business.Services.LatestNewsService
@inject ILatestNewsService LatestNewsService
<div class="latest-posts">
    <div class="container-fluid">
        <div class="blog-title-span">
            <span class="title">آخرین مطالب</span>
        </div>
        @if (Newses != null && Newses.Any())
        {
            @foreach (var news in Newses)
            {
                <SingleNewsItem News="@news" />
            }
        }
    </div>
</div>

@code
{
    public IEnumerable<NewsDTO> Newses { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Newses = await LatestNewsService.GetLatestNews();
    }
}
