@using News24.DTOs.Newses

<div class="main-slider-box">
    <div class="owl-carousel owl-theme main-slider">
        @foreach (var item in SliderItems)
        {
            <div class="item">
                <figure>
                    <img src="/images/@item.ImageName" alt="">
                    <figcaption class="gradient-fig"></figcaption>
                    <figcaption class="desc-fig">
                        <span><i class="fa fa-heart"></i> 56</span>
                        <h3>@item.Title</h3>
                        <span><i class="fa fa-clock-o"></i> @item.CreateDate</span>
                        <p>@item.ShortDescription</p>  
                    </figcaption>
                </figure>
            </div>
        }

    </div>
</div>

@code
{
    [Parameter]
    public IEnumerable<NewsDTO> SliderItems { get; set; } = new List<NewsDTO>();
}