@using News24.Business.DTOs.Newses
@using News24.Business.Services.MainSliderService
@inject IMainSliderService MainSliderService
@inject IJSRuntime JsRuntime

<div class="main-slider-box">
    <div class="owl-carousel owl-theme main-slider">
        @if (SliderItems != null && SliderItems.Any())
    {
        @foreach (var item in SliderItems)
        {
            <div class="item">
                <figure>
                    <img src="/images/@item.ImageName" alt="">
                    <figcaption class="gradient-fig"></figcaption>
                    <figcaption class="desc-fig">
                        <span><i class="fa fa-heart"></i> 56</span>
                        <h3>@item.Title</h3>
                        <span><i class="fa fa-clock-o"></i> @item.CreateDate.ToShamsi()</span>
                        <p>@item.ShortDescription</p>  
                    </figcaption>
                </figure>
            </div>
        }
        }
    </div>
</div>

@code
{
    public IEnumerable<NewsDTO> SliderItems { get; set; } = new List<NewsDTO>();

    protected override async Task OnInitializedAsync()
    {
        SliderItems = await MainSliderService.GetSliderItems();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JsRuntime.InvokeVoidAsync("OnDocumentInit");
    }
}